<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="connection.js"></script>
    <title></title>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css"
    type="text/css"
  />

</head>
<body>
    <form form onsubmit="getFormData()">
        Username: <input name="username" type="text" placeholder="Username" /> <br />
        Password: <input name="password" type="password" placeholder="Password"/> <br />
        <input type="submit" />
    </form>


</body>
</html>
