.desk{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 575.98px) {
  .desk{

  }

 }

@media (min-width: 576px) {
  .desk{
    width: 100%;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .desk{
    width: 100%;
    height: auto;
  }
}


@media (min-width: 992px) {
  .desk{
    width: 100%;
    height: auto;

  }
 }


@media (min-width: 1200px) {
  .desk{
    width: 100%;
    height: auto;
  }
 }



 .SubCheckList:hover, .SubCalculator:hover, .SubNotepad:hover, .SubClock:hover, .SubCalendar:hover,
 .SubWeather:hover, .SubTimer:hover, .SubStopwatch:hover, .SubStocks:hover, .SubNews:hover, .SubWPM:hover, .SubUnitConverter:hover, .SubTimezone:hover, .SubCat:hover, .SubRadio:hover, .tictac:hover, .SubCurrency:hover, .SubLyric:hover {
   box-shadow: 0 0 10px skyblue;

}

@media (min-width: 576px) {
  .VeriticalLine{
    border-left: 2px dashed  black;
    margin-top: 8rem;
    height: 200px;
    margin-left: 2rem;
   }
 }


@media (min-width: 768px) {
  .VeriticalLine{
    border-left: 2px dashed  black;
    margin-top: 9rem;
    height: 13rem;
    margin-left: 3rem;
   }
}


@media (min-width: 992px) {

  .VeriticalLine{
    border-left: 2px dashed  black;
    margin-top: 8rem;
    height: 300px;
    margin-left: 5.5rem;
   }
 }


@media (min-width: 1200px) {

  .VeriticalLine{
    border-left: 2px dashed  black;
    margin-top: 8rem;
    height: 300px;
    margin-left: 5.5rem;
   }
}



 .HonzontalLine{
  border-top: 2px solid #8c8b8b;
  margin-top: 50px;
 }






.fontSize3{
  margin-top: 1em;
}

.settingsButton {
  margin: 0;
  margin-top: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@media (max-width: 575.98px) {
  .fontSize1{
    letter-spacing: 0.1em;
    font-style: oblique;
    margin-top: 3rem;
    font-size: 2.5em;

  }


 }


@media (min-width: 576px) {
  .fontSize1{
    letter-spacing: 0.1em;
    font-style: oblique;
    margin-top: 3rem;
    font-size: 5em;
  }

 }


@media (min-width: 768px) {
  .fontSize1{
    letter-spacing: 0.1em;
    font-style: oblique;
    margin-top: 3rem;
    font-size: 6em;
  }


}



@media (min-width: 992px) {
  .fontSize1{
    letter-spacing: 0.1em;
    font-style: oblique;
    margin-top: 3rem;
    font-size: 8em;
  }

 }


@media (min-width: 1200px) {
  .fontSize1{
    letter-spacing: 0.1em;
    font-style: oblique;
    margin-top: 3rem;
    font-size: 6em;
  }

}









@media (max-width: 575.98px) {
  .SubCheckList{

    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

 }


@media (min-width: 576px) {
  .SubCheckList{
    margin-top: 8em;
    margin-left: 1.8rem;
    width: 130px;
    height: auto;
  }
 }


@media (min-width: 768px) {

  .SubCheckList{
    margin-top: 8em;
    margin-left: 2.5rem;
    width: 180px;
    height: auto;
  }

}



@media (min-width: 992px) {
  .SubCheckList{
    margin-top: 8em;
    margin-left: 60px;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) {
  .SubCheckList{
    margin-top: 8em;
    margin-left: 90px;
    width: 240px;
    height: auto;
  }
}



@media (max-width: 575.98px) {
  .SubCalculator{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

 }


@media (min-width: 576px) {
  .SubCalculator{
    margin-top: 8em;
    margin-left: 2rem;
    width: 130px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubCalculator{
    margin-top: 8em;
    margin-left: 2.5rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubCalculator{
    margin-top: 8em;
    margin-left: 60px;
    width: 240px;
    height: auto;

  }
 }


@media (min-width: 1200px) {
  .SubCalculator{
    margin-top: 8em;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}




@media (max-width: 575.98px) {
  .SubNotepad{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

 }


@media (min-width: 576px) {
   .SubNotepad{
    margin-top: 9rem;
    margin-left: 2.6rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubNotepad{
    margin-top: 9rem;
    margin-left: 2.6rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubNotepad{
    margin-top: 9rem;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) {
  .SubNotepad{
    margin-top: 9rem;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}



@media (max-width: 575.98px) {
  .SubClock{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) {
  .SubClock{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubClock{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubClock{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) {
  .SubClock{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}





@media (max-width: 575.98px) {
  .SubCalendar{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}

@media (min-width: 576px) {
  .SubCalendar{
    margin-top: 9em;
    margin-left: 2rem;
    width: 130px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubCalendar{
    margin-top: 9em;
    margin-left: 2rem;
    width: 200px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubCalendar{
    margin-top: 9em;
    margin-left: 3rem;
    width: 280px;
    height: auto;

  }
 }


@media (min-width: 1200px) {
  .SubCalendar{
    margin-top: 9em;
    margin-left: 5rem;
    width: 280px;
    height: auto;

  }
}





@media (max-width: 575.98px) {
  .SubWeather{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}


@media (min-width: 576px) {
  .SubWeather{
    margin-top: 9em;
    margin-left: 2.0rem;
    width: 130px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubWeather{
    margin-top: 9em;
    margin-left: 2rem;
    width: 200px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubWeather{
    margin-top: 9em;
    margin-left: 2.5rem;
    width: 280px;
    height: auto;


  }
 }


@media (min-width: 1200px) {
  .SubWeather{
    margin-top: 9em;
    margin-left: 5rem;
    width: 280px;
    height: auto;

  }

}

@media (max-width: 575.98px) {
  .SubTimer{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) {
  .SubTimer{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubTimer{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubTimer{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) {
  .SubTimer{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}

@media (max-width: 575.98px) {
  .SubStopwatch{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) {
  .SubStopwatch{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubStopwatch{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubStopwatch{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) {
  .SubStopwatch{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}

@media (min-width: 1200px) {
  .SubStocks{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}

@media (min-width: 1200px) {
  .SubNews{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}

@media (max-width: 575.98px) {
  .SubWPM{
    margin-top: 3rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) {
  .SubWPM{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) {
  .SubWPM{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubWPM{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) {
  .SubWPM{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;

  }
}

@media (max-width: 575.98px) { 
  .SubRadio{
    margin-top: 3rem; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) { 
  .SubRadio{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) { 
  .SubRadio{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubRadio{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) { 
  .SubRadio{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;
    
  }
}

@media (max-width: 575.98px) { 
  .tictac{
    margin-top: 3rem; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) { 
  .tictac{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) { 
  .tictac{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .tictac{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) { 
  .tictac{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;
    
  }
}

@media (max-width: 575.98px) { 
  .SubCurrency{
    margin-top: 3rem; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) { 
  .SubCurrency{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) { 
  .SubCurrency{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubCurrency{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) { 
  .SubCurrency{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;
    
  }
}

@media (max-width: 575.98px) { 
  .SubUnitConverter{
    margin-top: 3rem; 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}



@media (min-width: 576px) { 
  .SubUnitConverter{
    margin-top: 9em;
    margin-left: 2.3rem;
    width: 120px;
    height: auto;
  }
 }


@media (min-width: 768px) { 
  .SubUnitConverter{
    margin-top: 9em;
    margin-left: 3rem;
    width: 180px;
    height: auto;
  }
}


@media (min-width: 992px) {
  .SubUnitConverter{
    margin-top: 9em;
    margin-left: 4rem;
    width: 240px;
    height: auto;
  }
 }


@media (min-width: 1200px) { 
  .SubUnitConverter{
    margin-top: 9em;
    margin-left: 6rem;
    width: 240px;
    height: auto;
    
  }

  @media (max-width: 575.98px) { 
    .SubTimezone{
      margin-top: 3rem; 
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
    }
  }
  
  
  
  @media (min-width: 576px) { 
    .SubTimezone{
      margin-top: 9em;
      margin-left: 2.3rem;
      width: 120px;
      height: auto;
    }
   }
  
  
  @media (min-width: 768px) { 
    .SubTimezone{
      margin-top: 9em;
      margin-left: 3rem;
      width: 180px;
      height: auto;
    }
  }
  
  
  @media (min-width: 992px) {
    .SubTimezone{
      margin-top: 9em;
      margin-left: 4rem;
      width: 240px;
      height: auto;
    }
   }
  
  
  @media (min-width: 1200px) { 
    .SubTimezone{
      margin-top: 9em;
      margin-left: 6rem;
      width: 240px;
      height: auto;
      
    }
  }

  @media (max-width: 575.98px) { 
    .SubLyric{
      margin-top: 3rem; 
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
    }
  }
  
  
  
  @media (min-width: 576px) { 
    .SubLyric{
      margin-top: 9em;
      margin-left: 2.3rem;
      width: 120px;
      height: auto;
    }
   }
  
  
  @media (min-width: 768px) { 
    .SubLyric{
      margin-top: 9em;
      margin-left: 3rem;
      width: 180px;
      height: auto;
    }
  }
  
  
  @media (min-width: 992px) {
    .SubLyric{
      margin-top: 9em;
      margin-left: 4rem;
      width: 240px;
      height: auto;
    }
   }
  
  
  @media (min-width: 1200px) { 
    .SubLyric{
      margin-top: 9em;
      margin-left: 6rem;
      width: 240px;
      height: auto;
      
    }
  }

  .btnSpace {
    margin-bottom: 10px;
    background-color: #323232;
  }

  .btnSpace0 {
    margin-bottom: 10px;
    background-color: #838383;
  }

  .btnSpace1 {
    margin-bottom: 10px;
    background-color: #4f4f4f;
  }

  @media (max-width: 575.98px) { 
    .SubCat{
      margin-top: 3rem; 
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
    }
  }
  
  
  
  @media (min-width: 576px) { 
    .SubCat{
      margin-top: 9em;
      margin-left: 2.3rem;
      width: 120px;
      height: auto;
    }
   }
  
  
  @media (min-width: 768px) { 
    .SubCat{
      margin-top: 9em;
      margin-left: 3rem;
      width: 180px;
      height: auto;
    }
  }
  
  
  @media (min-width: 992px) {
    .SubCat{
      margin-top: 9em;
      margin-left: 4rem;
      width: 240px;
      height: auto;
    }
   }
  
  
  @media (min-width: 1200px) { 
    .SubCat{
      margin-top: 9em;
      margin-left: 6rem;
      width: 240px;
      height: auto;
      
    }
  }

  


}